.c1{
            background-color: burlywood;
            color: black;
        }
.c2{
    background-color: darksalmon;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}